<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>




 <!-- Top row with form-->
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
<!--        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">-->
<!--            <div class="row">-->
<!--            <div class="carousel-inner col-md-4">-->
<!--                <span class="overlay-txt"> My Name Here </span>-->
<!--                <div class="carousel-item active">-->
<!--                    <img class="d-block w-100" th:src="@{/static/images/home2.jpg}"  alt="">-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <img class="d-block w-100" th:src="@{/static/images/login.png}"  alt="">-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <img class="d-block w-100" th:src="@{/static/images/home.jpg}"  alt="">-->
<!--                </div></div>-->
            <div class="container">
                <h1 class="display-3">Welcome to Store Checkout Point</h1>
                <p>Say goodbye to long lines and slow checkout processes woth our cutting-edge store checkout app. With its intuitive interface, you can quickly scan and purchase items, making
                    shopping a breeze. No more waiting in line, no more hassle. This application can streamline the shopping experience for customers and help retailers manage their inventory and sales efficiently
                </p>
            </div>
<!--            </div>-->


        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Brand and Category Management</h2>
                    <p> The app allows the retailers to add and manage brands and categories of products</p>

                </div>
                <div class="col-md-4">
                    <h2>Inventory Management</h2>
                    <p> Our application allows the retailer to keep track of stock levels and update them in real-time as products are sold. It is the one stop destination for everything Inventory.</p>

                </div>
                <div class="col-md-4">
                    <h2>Order System</h2>
                    <p>It has a built-in ordering systems which can be used by the checkout counters to order directly through the app and manage the orders.</p>

                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>



<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>