
<!doctype html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>

  <title>Jumbotron Template · Bootstrap</title>

  <meta name="theme-color" content="#563d7c">


  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  <!-- Custom styles for this template -->
<!--  <link href="jumbotron.css" rel="stylesheet">-->
</head>
<body>
<nav th:replace="snippets.html :: name_site_navbar"></nav>

<!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--        <div class="dropdown-menu" aria-labelledby="dropdown01">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Store Checkout Point</h1>
      <p>Say goodbye to long lines and slow checkout processes woth our cutting-edge store checkout app. With its intuitive interface, you can quickly scan and purchase items, making
        shopping a breeze. No more waiting in line, no more hassle. This application can streamline the shopping experience for customers and help retailers manage their inventory and sales efficiently
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Brand and Category Management</h2>
        <p>The app allows the retailers to add and manage brands and categories of products.</p>
      </div>
      <div class="col-md-4">
        <h2>Inventory Management</h2>
        <p> Our application allows the retailer to keep track of stock levels and update them in real-time as products are sold. It is the one stop destination for everything Inventory.</p>
      </div>
      <div class="col-md-4">
        <h2>Order System</h2>
        <p>It has a built-in ordering systems which can be used by the checkout counters to order directly through the app and manage the orders.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
</body>

<footer th:replace="snippets.html :: name_footer"></footer>
</html>

