<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">
    <div th:replace="snippets.html :: name_toast"></div>
    <div class="row" id="supervisor-view">
        <div class="col-12">
            <div class="p-3 mb-2 bg-primary text-white"><h3>Orders</h3></div>
    <form class="form-inline" id="order-form">


        <button type="button" class="btn btn-success float-right" id="create-order" style="float: right;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>Create</button>
    </form>
    <h5 id="status" style="color:red;"></h5>
        </div>
    </div>


<div class="row">
    <div class="col-12">
    <table class="table table-striped" id="order-table">
        <thead>
        <tr>
            <th scope="col">Order_Id</th>
            <th scope="col">Created Date</th>
            <th scope="col">Status</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>
</div>

</body>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/orders.js}"/></script>

</html>