<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head">
</head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: name_toast"></div>
<div class="p-3 mb-2 bg-primary text-white"><h3>Order Items</h3></div>
<div class="container">
    <!--    <h3 id="customer-name"></h3>-->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped" id="orderItem-table">
                <thead>
                <tr>
                    <th scope="col">Id#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Selling Price</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


    <div>
        <button type="button" class="btn btn-secondary" id="download-invoice">Download Invoice</button>
    </div>
</div>
</body>

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/orderItemView.js}"/></script>

</html>