<!doctype html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container mt-4">

    <div class="p-3 mb-2 bg-primary text-white"><h3>Daily Sales</h3></div>

    <!-- Top row with form-->
    <div class="container">
        <form id="daySales-form">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-5 form-group">
                    <label for="inputStartDate" class="col-form-label">Start date</label>
                    <div class="">
                        <input type="date" class="form-control" name="start" id="inputStartDate"/>
                    </div>
                </div>
                <div class="col-10 col-sm-5 form-group">
                    <label for="inputEndDate" class="col-form-label">End date</label>
                    <div class="">
                        <input type="date" class="form-control" name="end" id="inputEndDate"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center m-auto">
                <button type="button" class="btn btn-primary" id="filter-posDay-report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-filter" viewBox="0 0 16 16">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    Filter
                </button>


                <button type="button" class="btn btn-success" id="download-posDay-report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                    Download
                </button>
            </div>
        </form>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table id="daySales-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm" scope="col">S. No</th>
                    <th class="th-sm" scope="col">Date</th>
                    <th class="th-sm" scope="col">invoiced_items_count</th>
                    <th class="th-sm" scope="col">invoiced_orders_count</th>
                    <th class="th-sm" scope="col">total_revenue</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>S. No</th>
                    <th>Date
                    </th>
                    <th>invoiced_items_count
                    </th>
                    <th>invoiced_orders_count
                    </th>
                    <th>total_revenue
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/pos_day_sales_report.js}"/>
</script>

</body>

</html>